body {
    background-color: #0F0;
    color: #F00;
}

h1 {
    color: #F0F;
}

nav a {
  animation: 2s infinite rotateForever ;
  display: block;
  width: fit-content;
}

blink {
  -webkit-animation: 2s linear infinite condemed_blink_effect; // pour Safari 4.0-8.0
  animation: 2s linear infinite condemed_blink_effect;
}
@-webkit-keyframes condemed_blink_effect { // pour Safari 4.0-8.0
  0% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
@keyframes condemed_blink_effect {
  0% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

@keyframes rotateForever {
  from {
    transform: rotate(0deg);
  }
  
  to {
    transform: rotate(359deg);
  }
}